.btn {
    min-width: 220px;
    max-height: 55px;
    padding: 21px 49px;
    border-radius: 5px;

    background-color: $color-tiffany;
    color: $color-primary;

    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
}